<div th:fragment="banner-bg">


<div class="absolute inset-0 bg-gradient-to-br from-[#0f2b5e] via-[#153b6f] to-[#1e4a8a]"></div>

<!-- pattern:  hexagon pattern overlay (low opacity) -->
<div class="absolute inset-0 opacity-5"
     style="background-image: url('https://static.vecteezy.com/system/resources/previews/030/726/304/non_2x/soccer-ball-on-blue-background-football-net-pattern-honeycomb-cells-hexagon-pattern-free-vector.jpg');
                background-size: cover; background-position: center;">
</div>
</div>