<!DOCTYPE html>
<html lang="sv" data-theme="corporate" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coach Dashboard - FBK Balkan</title>
    <link th:href="@{/css/output.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body class="min-h-screen bg-base-100">
<!-- Navbar -->
<div class="absolute top-0 left-0 z-[10] right-0 bg-primary">
    <div th:replace="~{fragments/navbar::navbar}"></div>
</div>

<!-- Dashboard Content -->
<div class="min-h-screen pt-32 px-4 py-12 ">
    <div class="mt-8">
        <div class="card bg-base-100 shadow-xl p-5">
            <div class="card-body">
                <h1 class="card-title text-3xl justify-center  mb-4">
                    Välkommen
                    <span th:text="${coachName}"></span>!
                </h1>
                <p class="text-base-content/70 text-center">
                    Du är nu inloggad och kan hantera ditt lag, spelare, träningar och skapa nyheter</p>


            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div class="mt-8">
    <div th:replace="~{fragments/footer::footer}"></div>
</div>
</body>
</html>