<!DOCTYPE html>
<html lang="sv" data-theme="corporate" xmlns:th="http://www.thymeleaf.org">
<style>

</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        FBK Balkan</title>

<!--  <link th:href="@{/css/input.css}" rel="stylesheet">-->
    <link th:href="@{/css/output.css}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <style>


        .transparent-navbar
        {
            background-color: transparent !important;
        }



    </style>
</head>
<body class="min-h-screen  bg-base-200 transparent-navbar">

<!--navbar-->
<div class="absolute top-0 left-0 z-[10] right-0 ">
    <div th:replace="~{fragments/navbar::navbar}"></div>
</div>


<!--hero-->
<div class=" hero min-h-screen bg-cover  bg-center mb-10 " style="background-image: url('/images/hero-image.png');">
<!--    <div class="absolute inset-0  bg-black/50 z-0"></div>-->
    <div class="hero-overlay bg-opacity-60"> </div>
    <div class="hero-content text-center text-white relative z-10">
        <div class="mx-auto">
            <h1 class="text-7xl text-secondary font-bold mb-5">Teknik</h1>
            <h1 class="text-7xl  font-bold mb-5">före långa bollar</h1>
       <a href="/trial-registration" class="btn btn-wide rounded-full font-virage text-2xl mt-8 bg-opacity-10  text-base-100 hover:text-primary hover:bg-base-100 " >Registrera ditt barn </a>
        </div>

         </div>





</div>



<!-- latest video embed -->
<div class="FBK-Balkan-youtube-embed flex justify-center  mx-auto px-8 mb-16 h-screen " >
    <iframe class="latestVideoEmbed w-full  rounded-lg"
            cid="UCAcquTaKhJu0resneu7e2_w"
            frameborder="0"
            allowfullscreen></iframe>

    <script>
        const loadVideo = (iframe) => {
            const cid = iframe.getAttribute('cid');
            const channelURL = encodeURIComponent(`https://www.youtube.com/feeds/videos.xml?channel_id=${cid}`);
            const reqURL = `https://api.rss2json.com/v1/api.json?rss_url=${channelURL}`;

            fetch(reqURL)
                .then(response => response.json())
                .then(result => {
                    const link = result.items[0].link;
                    const id = link.substr(link.indexOf("=") + 1);
                    iframe.setAttribute("src", `https://youtube.com/embed/${id}?autoplay=0&rel=0`);
                })
                .catch(error => console.log('Error loading latest video:', error));
        };

        document.querySelectorAll('.latestVideoEmbed').forEach(loadVideo);
    </script>
</div>

<!--footer-->
<div class="mt-8">
    <div th:replace="~{fragments/footer::footer}"></div>
</div>

</body>
</html>